<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <small class="mb-3"><%= t("common.site") %></small>
      <small class="mb-3 text-muted">© 2020</small>
    </div>
    <% if false %>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Team</a></li>
          <li><a class="text-muted" href="#">Locations</a></li>
          <li><a class="text-muted" href="#">Privacy</a></li>
          <li><a class="text-muted" href="#">Terms</a></li>
        </ul>
      </div>
    <% end %>
  </div>
</footer>
